/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #6927FF;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Arvo", serif;
  font-weight: 700;
}
h1 {
  font-size: 2.1rem;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  word-spacing: 0.4rem;
}
h2 {
  font-size: 1.8rem;
  margin: 0 0 1rem 0;
}
h3 {
  font-size: 1.1rem;
  margin: 0 0 1rem 0;
}
p {
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin: 0 0 1rem 0;
}
header {
  display: flex;
  flex-direction: column-reverse;
  padding: 60px 20px 40px 20px;
  background-color: #6927FF;
}
@media (min-width: 600px) {
  header {
    padding: 80px 20px 40px 20px;
  }
}
@media (min-width: 800px) {
  header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  header {
    padding: 40px 20px 0 20px;
  }
}
header .copy {
  color: #FFFFFF;
  text-align: left;
}
@media (min-width: 800px) {
  header .copy {
    width: 45%;
  }
}
header .copy h1 {
  font-size: 1.9rem;
  line-height: 2.1rem;
}
header .copy .header_cta {
  display: flex;
  margin: 20px 0 0 0;
}
header .copy .header_cta input {
  width: 55%;
  background: #150047;
  border: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #FFD527;
  font-size: 1rem;
  padding: 20px;
}
header .copy .header_cta .cta {
  width: 45%;
  display: block;
  background-color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 1rem;
  line-height: 3.7rem;
  font-weight: 500;
}
header .copy .header_cta .cta:hover {
  background: #FFD527;
  color: #000000;
}
@media (min-width: 800px) {
  header .visual {
    width: 50%;
  }
}
header .visual img {
  width: 90%;
  display: block;
  margin: 0 auto;
}
@media (min-width: 600px) {
  header .visual img {
    width: 70%;
  }
}
@media (min-width: 700px) {
  header .visual img {
    width: 65%;
  }
}
@media (min-width: 800px) {
  header .visual img {
    width: 100%;
  }
}
.navigation {
  background: #6927FF;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #541BD7;
}
@media (min-width: 1200px) {
  .navigation {
    margin: 0 auto;
    display: block;
    position: relative;
  }
  .navigation .navContainer {
    width: 1200px;
    margin: 0 auto;
  }
}
nav {
  background: #6927FF;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}
@media (min-width: 600px) {
  nav {
    height: 70px;
  }
}
nav .logo {
  font-family: "Arvo", serif;
  font-size: 1.3rem;
  color: inherit;
  text-decoration: none;
}
nav .menu {
  display: none;
  position: absolute;
  align-items: center;
  top: 50px;
  left: 0;
  width: 100%;
  background: #150047;
}
@media (min-width: 600px) {
  nav .menu {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
    background: #6927FF;
    padding: 0;
    width: inherit;
    height: 100%;
  }
}
nav .menu .login {
  display: block;
  background: #FFD527;
  border: 0;
  color: #000000;
  margin: 0;
}
@media (min-width: 600px) {
  nav .menu .login {
    border-radius: 4px;
    margin: 0 0 0 10px;
  }
  nav .menu .login:hover {
    background: #F3C400;
  }
}
nav .menu li {
  text-align: center;
  border-bottom: 1px solid #837dff80;
}
@media (min-width: 600px) {
  nav .menu li {
    border-bottom: 0;
  }
}
nav .menu li a {
  display: inline-block;
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
  padding: 20px 0px;
  font-weight: 500;
  text-align: center;
  width: 100%;
}
nav .menu li a:hover {
  background: #837dff80;
}
@media (min-width: 600px) {
  nav .menu li a {
    font-size: 1rem;
    color: inherit;
    padding: 10px 20px;
    width: initial;
    margin: 0 5px;
    border-radius: 4px;
  }
}
nav .menu-burger:hover {
  cursor: pointer;
}
@media (min-width: 600px) {
  nav .menu-burger {
    display: none;
  }
}
nav .menu-burger .burger {
  width: 20px;
  height: 20px;
}
nav .cta {
  color: inherit;
}
nav.open {
  background: #150047;
}
.open .menu {
  display: block;
}
.open li:hover {
  cursor: pointer;
}
.open .login:hover {
  background: #F3C400;
}
.content {
  background: #FFD527;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px 20px;
}
@media (min-width: 800px) {
  .content {
    flex-direction: row;
    padding: 80px 40px 40px 40px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .content {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
.content .header,
.content .footer {
  text-align: center;
  margin: 0 0 20px 0;
}
@media (min-width: 800px) {
  .content .header,
  .content .footer {
    width: 100%;
  }
}
.content .footer {
  margin: 20px 0 0 0;
  padding: 20px 0 0 0;
}
.content .card {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
  padding: 10px;
  background: #F3C400;
  border-radius: 4px;
  border: 1px solid #C29C0080;
}
@media (min-width: 800px) {
  .content .card {
    text-align: center;
    width: 25%;
    flex-direction: column;
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  .content .card {
    width: 27%;
  }
}
.content .card .head {
  display: flex;
  align-items: center;
}
@media (min-width: 600px) {
  .content .card .head {
    padding: 20px;
  }
}
.content .card .head img {
  max-width: 100px;
  margin: 0 10px 0 0;
}
@media (min-width: 800px) {
  .content .card .head img {
    max-width: 200px;
  }
}
.content .card .copy {
  margin: 20px 0 0 0;
}
.content .card .copy h3 {
  margin: 0 0 0.5rem 0;
}
.content .card .cta {
  display: block;
  background-color: #FFFFFF;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}
footer {
  background-color: #C29C00;
  color: #FFD527;
  text-align: center;
  font-size: 0.8rem;
  padding: 20px;
}
.avatars {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 1rem 0;
}
@media (min-width: 600px) {
  .avatars {
    justify-content: space-around;
  }
}
@media (min-width: 700px) {
  .avatars {
    width: 70%;
    margin: 0 auto;
  }
}
.avatars .avatar {
  opacity: 0.5;
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  margin: 0;
  border-radius: 5.5rem;
  border: 4px solid #C29C00;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 800px) {
  .avatars .avatar {
    width: 5rem;
    height: 5rem;
  }
}
.avatars .avatar:hover {
  cursor: pointer;
  border: 4px solid #FFFFFF;
}
.avatars .active-avatar {
  opacity: 1;
  border: 4px solid #FFFFFF;
}
.quote {
  font-size: 1rem;
  padding: 2rem 0 0 0;
  display: none;
}
.quote .text {
  position: relative;
  padding: 0;
  font-weight: bold;
  font-style: italic;
}
.quote .text::before,
.quote .text::after {
  position: absolute;
  font-size: 5rem;
  color: #C29C00;
  opacity: 0.5;
}
.quote .text::before {
  content: "“";
}
.quote .text::after {
  content: "”";
  bottom: -2.5rem;
}
.quote .name,
.quote .occupation {
  font-size: 1rem;
}
.quote .name {
  font-weight: bold;
}
.quote span {
  display: block;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}
