/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px 20px 40px 20px;
  background-color: #6927ff;
}
@media (min-width: 700px) {
  header {
    flex-direction: row;
    align-items: center;
  }
}
header .copy {
  color: #ffffff;
  text-align: left;
}
header .copy h2 {
  margin: 0 0 20px 0;
  line-height: 1.8rem;
  font-weight: 700;
}
header .copy .header_cta {
  display: flex;
  margin: 20px 0 0 0;
}
header .copy .header_cta input {
  width: 55%;
  background: #150047;
  border: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #FFD527;
  font-size: 1rem;
  padding: 20px;
}
header .copy .header_cta .cta {
  width: 45%;
  padding: 20px 0 0 0;
  display: block;
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
header .visual img {
  width: 90%;
  display: block;
  margin: 0 auto;
}
@media (min-width: 500px) {
  header .visual img {
    width: 70%;
  }
}
@media (min-width: 600px) {
  header .visual img {
    width: 65%;
  }
}
body {
  font-family: "Open Sans", sans-serif;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
p {
  line-height: 1.2rem;
  margin: 0 0 1rem 0;
}
nav {
  background: #6927ff;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #541bd7;
}
nav .logo {
  font-family: "Cherry Swash", cursive;
  color: inherit;
  text-decoration: none;
  font-size: 1.1rem;
}
nav ul {
  display: flex;
}
nav ul li a {
  font-size: 0.9rem;
  color: inherit;
  text-decoration: none;
  padding: 10px 5px;
  font-weight: 600;
}
nav .cta {
  color: inherit;
}
.content {
  background: #ffd527;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px 20px;
}
.content .card {
  border-bottom: 1px dotted #c29c00;
  margin: 0 0 20px;
  padding: 0 0 20px;
}
.content .card:last-child {
  border-bottom: none;
  padding: 0;
  margin: 0;
}
.content .card .head {
  display: flex;
  align-items: center;
}
.content .card .head img {
  max-width: 100px;
  margin: 0 10px 0 0;
}
.content .card .copy {
  margin: 10px 0 0 0;
}
.content .card .copy h2 {
  margin: 0 0 20px 0;
  line-height: 1.8rem;
  font-weight: 700;
}
.content .card .cta {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}
footer {
  background-color: #c29c00;
  color: #ffffff;
  text-align: center;
  font-size: 0.8rem;
  padding: 20px;
}
