@import "reset.less";

// Mobile First

body {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  line-height: 1.2rem;
  margin: 0 0 1rem 0;
}

nav {
  background: #6927ff;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  border-bottom: 1px solid #541bd7;

  .logo {
    font-family: "Cherry Swash", cursive;
    color: inherit;
    text-decoration: none;
    font-size: 1.1rem;
  }

  ul {
    display: flex;

    li {
      a {
        font-size: 0.9rem;
        color: inherit;
        text-decoration: none;
        padding: 10px 5px;
        font-weight: 600;
      }
    }
  }

  .cta {
    color: inherit;
  }
}

header {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px 20px 40px 20px;
  background-color: #6927ff;

  .copy {
    color: #ffffff;
    text-align: left;

    h2 {
      margin: 0 0 20px 0;
      line-height: 1.8rem;
      font-weight: 700;
    }

    p {
    }

    .cta {
      display: block;
      background-color: #ffffff;
      padding: 20px;
      text-decoration: none;
      text-align: center;
      border-radius: 4px;
    }
  }

  .visual {
    img {
      width: 90%;
      display: block;
      margin: 0 auto;
    }
  }
}

.content {
  background: #ffd527;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px 20px;

  .card {
    border-bottom: 1px dotted #c29c00;
    margin: 0 0 20px;
    padding: 0 0 20px;

    &:last-child {
      border-bottom: none;
      padding: 0;
      margin: 0;
    }

    .head {
      display: flex;
      align-items: center;
      img {
        max-width: 100px;
        margin: 0 10px 0 0;
      }
    }

    .copy {
      margin: 10px 0 0 0;
      h2 {
        margin: 0 0 20px 0;
        line-height: 1.8rem;
        font-weight: 700;
      }
    }

    .cta {
      display: block;
      background-color: #ffffff;
      padding: 20px;
      text-decoration: none;
      text-align: center;
      border-radius: 4px;
    }
  }
}

footer {
  background-color: #c29c00;
  color: #ffffff;
  text-align: center;
  font-size: 0.8rem;
  padding: 20px;
}
