// Media queries

@tabletSmall: ~"(min-width: 600px)";
@tabletMedium: ~"(min-width: 700px)";
@tabletLarge: ~"(min-width: 800px)";
@desktop: ~"(min-width: 1200px)";

// Colours

@primary: #6927FF;
@primaryLightDark: #541BD7;
@primaryDark: #150047;
@primaryHover: #837dff80;

@secondary: #FFD527;
@secondaryLightDark: #F3C400;
@secondaryDark: #C29C00;
@secondaryBorder: #C29C0080;


@white: #FFFFFF;
@black: #000000;